.wrapper {
  /* Make the display flex, flow should be row and wrap, and align the text centered */
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.wrapper > * {
  /* padding & margin should be 10px all around*/
  /* flex grow will be set to 1 and shrink 100% USE SHORTHAND */
  /* round the edges of the divs using border radius */
padding:10px;
margin: 10px;
flex: 1 100%;
border-radius: 20px;
}

.header {
  /* Make the background color 'tomato' */
  background-color: tomato;
  /* 120 pixels high */
height: 120;
}

.footer {
  /* Make the background color 'lightgreen' */
  background-color: lightgreen;
  /* 80 pixels high */
height: 80px;
}

.main {
  /* Align text to the left */
  text-align; left;
  /* Make the background color 'deepskyblue' */
  background-color: deepskyblue;
  /* Height should be 300 pixels */
  height: 300px;
  /* Font size should be 24 pixels */
  font-size: 24px;

}

.aside1 {
  /* Make the background color 'gold' */
background-color: gold;
}

.aside2 {
  /* Make the background color 'hotpink' */
background-color: hotpink;
}
/* MEDIA QUERY FOR SCREENS 600PX WIDE TO 800PX (800 b/c of our media query above) */
@media all and (min-width: 600px){
  /* CHANGE UP THE ORDER OF EACH CLASS TO SEE WHAT LOOKS BEST */
  /* CHANGE BACKGROUND COLORS AND MORE!! */
  .aside{
    flex:1;
background-color: red;
  }
  .main {
background-color: green;
  }
  .aside1 {
background-color: blue;
  }
  .aside2 {
background-color: orange;
  }
  .footer {
background-color: purple;
  }
/* MEDIA QUERY FOR SCREENS 800PX WIDE AND LARGER */
@media all and (min-width: 800px){
  /* CHANGE UP THE ORDER OF EACH CLASS TO SEE WHAT LOOKS BEST */
  /* CHANGE BACKGROUND COLORS AND MORE!! */
  .main {
    flex: 3;
background-color: teal;
order: 2;
  }
  .aside1 {
background-color: lavender;
corder: 1;
  }
  .aside2 {
background-color: blue;
order: 3;
  }
  .footer {
background-color: salmon;
order: 4;
  }
}
}
